.CartCard {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgb(32, 33, 44);
    color: whitesmoke;
}

.Variants {
    // width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // align-items: center;
}

.Variant {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}